/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4b4ba3;
  --ifm-color-primary-dark: #434393;
  --ifm-color-primary-darker: #40408b;
  --ifm-color-primary-darkest: #353572;
  --ifm-color-primary-light: #5555b1;
  --ifm-color-primary-lighter: #5d5db5;
  --ifm-color-primary-lightest: #7676c0;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7676c0;
  --ifm-color-primary-dark: #6161b6;
  --ifm-color-primary-darker: #5656b1;
  --ifm-color-primary-darkest: #444495;
  --ifm-color-primary-light: #8b8bca;
  --ifm-color-primary-lighter: #9696cf;
  --ifm-color-primary-lightest: #b6b6dd;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
